{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 11",
            "safari >= 11",
            "ios_saf >= 10"
          ]
        },
        "modules": false,
        "loose": true
      }
    ],
    "@babel/preset-react"
  ]
}